
.progress-button {
    z-index: 90;

    position: absolute;

    top: 1rem;
    right: 1rem;

    cursor: default;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0.5rem;

    padding: 0.5rem 1rem;

    border-radius: 0.625rem;
    border: 1px solid transparent;

    backdrop-filter: blur(2rem);
    /*background-color: rgba(0, 120, 215, 0.2);*/

    transition: all var(--hover-animation) var(--hover-animation-type);
}
.progress-button-active {
    padding: 0.7rem 1.2rem;

    backdrop-filter: blur(2rem) brightness(3);

    border: 1px solid wheat;
}
.progress-button:hover {
    padding: 0.7rem 1.2rem;

    backdrop-filter: blur(2rem) brightness(3);
}

.progress-container {
    height: 100%;

    position: absolute;

    top: 4.85rem;
    right: 1rem;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.75rem;
}

.progress-sidebar {
    border-radius: 0.625rem;
    backdrop-filter: blur(2rem) brightness(2);
    width: 15rem;
    height: 60%;

    transform-origin: top;
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s ease;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1rem;
}

.progress-hidden {
    transform: scaleY(0);
    opacity: 0;
    pointer-events: none;
}

.progress-active {
    transform: scaleY(1);
    opacity: 1;
}


.elapsed-time {
    font-size: 2.5rem;
    font-weight: 600;
}

.progress-sidebar-separator {
    margin: 0.5rem 1rem 1rem 1rem;
    height: 1px;
    width: 80%;

    background-color: white;
}

.progress-item-container{
    width: 80%;
    height: 68%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    overflow: auto;
}
.progress-item {
    height: 3rem;
    width: 95%;

    margin-right: 0.5rem;

    flex-shrink: 0;

    border-radius: 0.625rem;
    /*backdrop-filter: brightness(0);*/
    background-color: var(--border);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}