
.explorer-app {
    height: 100%;
    overflow: auto;
}

.explorer-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.explorer-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-top: var(--border) 1px solid;
    border-bottom: var(--border) 1px solid;
}

.explorer-navigation-bar {
    width: calc(100% - 2rem);
    height: 3.5rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    gap: 1.5rem;
}

.explorer-navigation-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.97rem;
}
.explorer-navigation-icons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 0.53rem;
    border-radius: 0.3rem;

    transition: background-color var(--hover-animation) var(--hover-animation-type);
}
.explorer-navigation-icons-container:hover {
    background-color: var(--border);
}

.explorer-navigation-search {
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 0.5rem;
}
.explorer-dir {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 1rem 0;
    border: 0;
    outline: none;
    width: 100%;
    height: 1rem;
    padding: 0.5rem 0.75rem;
    font-size: 0.9rem;
    font-weight: 450;

    background: var(--input);
    border-radius: 0.3rem;
    border-bottom: transparent 0.2rem solid;

    gap: 0.75rem;
}
.explorer-dir::placeholder {
    font-weight: 400;
}
.explorer-search {
    background-image: url("../../assets/icons/search.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-origin: content-box;

    padding-right: 1rem;

    width: 35%;
}
.explorer-search:focus{
    border-bottom: var(--blue) 0.2rem solid;
}



.explorer-content {
    height: calc(100% - 3.625rem);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.explorer-sidebar {
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
    width: 10rem;
    max-width: 20%;
    /*height: 100%;*/

    padding-top: 0.5rem;

    border-right: 1px solid var(--border);
}

.explorer-sidebar-container{
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    justify-content: center;

    border: 1px solid transparent;


    padding: 0.4rem;
    width: calc(100% - 1.5rem);

    border-radius: 0.2rem;

    transition: background-color var(--hover-animation) var(--hover-animation-type);
}
.explorer-sidebar-container:hover {
    /*border: 1px solid var(--border);*/
    background-color: var(--border);
}

.explorer-sidebar-icon-container {
    background-repeat: no-repeat;
    background-position: left;
    background-origin: content-box;
    background-size: contain;
    margin-left: 20%;
    display: flex;
    align-items: center;
    height: 1rem;
}
.sidebar-home-icon {
    background-image: url("../../assets/icons/Home.ico");
}
.sidebar-onedrive-icon {
    background-image: url("../../assets/icons/One Drive.ico");
}

.sidebar-desktop-icon {
    background-image: url("../../assets/icons/Desktop.ico");
}
.sidebar-downloads-icon {
    background-image: url("../../assets/icons/Folder Downloads.ico");
}
.sidebar-documents-icon {
    background-image: url("../../assets/icons/Folder Documents.ico");
}
.sidebar-music-icon {
    background-image: url("../../assets/icons/Folder Music.ico");
}
.sidebar-pictures-icon {
    background-image: url("../../assets/icons/Folder Pictures.ico");
}
.sidebar-videos-icon {
    background-image: url("../../assets/icons/Folder Videos.ico");
}

.sidebar-this-pc-icon{
    background-image: url("../../assets/icons/Computer.ico");
}
.sidebar-network-icon{
    background-image: url("../../assets/icons/Network.ico");
}

.explorer-sidebar-text {
    padding-left: 1.4rem;
    font-size: 12px;
}

.explorer-sidebar-separator {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;

    height: 1px;
    width: 80%;
    background-color: var(--border);

    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}