
.terminal-app {
    cursor: text;

    display: flex;
    flex-direction: column;

    padding: 1rem;

    font-family: "JetBrains Mono", monospace;
    font-weight: 250;
    font-size: 0.94rem;
    line-height: 1.3rem;

    height: 100%;
    overflow-y: auto;
    contain: content;
}
.terminal-app ::selection {
    background: #ffffff;
    color: #0e0e0e;
    font-family: monospace;
}

.terminal-app p {
    white-space: pre-wrap;
}

.input-line {
    display: flex;
    gap: 7px;
    /*padding-top: 5px;*/
}

.input-wrapper {
    display: flex;
    position: relative;
    flex: 1;
}

.input-line input {
    height: 1.15rem;

    background: transparent;
    border: none;
    color: white;
    outline: none;
    flex: 1;
    font-family: "JetBrains Mono", monospace;
    font-size: 0.94rem;
    font-weight: 250;
    
    caret-shape: block;
    caret-color: white;

}
