.desktop {
    z-index: -99999;
    height: 100vh;
    width: 100%;
    background-image: url("../../assets/wallpaper.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    outline: none;
    cursor: default;
}

.desktop-grid {
    height: calc(100vh - 3rem);
    width: 100vw;
    display: grid;

    grid-template-columns: repeat(auto-fill, 5.35rem);
    grid-template-rows: repeat(auto-fill, 6rem);

    align-items: center;
    justify-items: center;

    gap: 0.5rem;
    padding: 0.5rem;

    grid-auto-flow: column;

    overflow: hidden;
}


.grid-app-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    gap: 0.25rem;
}

.grid-app-item:hover {
    background-color: var(--border);
}

.grid-app-item {
    transition: background 0.1s;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    touch-action: none;
    user-select: none;
    cursor: pointer;
}

.grid-app-item.selected {
    background-color: rgba(0, 120, 215, 0.2);
    border: 1px solid var(--blue);
}
.grid-app-item.dragging {
    background-color: #0078d7 !important;
    border: 1px solid #0078d7 !important;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
    cursor: grabbing !important;
}
.grid-app-item.dragging .app-name {
    color: white;
    text-shadow: none;
}
.grid-app-item:active {
    cursor: grabbing;
}

.grid-app-item p {
    user-select: none;
}

.app-icon {
    height: 2.25rem;
}
.app-name {
    font-size: 0.85rem;
}


.taskbar {
    z-index: var(--z-taskbar);
    bottom: 0;

    position: fixed;
    width: 100vw;
    height: 3rem;
    backdrop-filter: blur(2rem) brightness(0.2);
    transition: var(--animation-time) var(--hover-animation-type);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    border-top: 1px solid var(--border);
}
.taskbar.is-fullscreen {
    backdrop-filter: blur(4rem) brightness(0.01) !important;
}

.tray{
    z-index: var(--z-taskbar);
    position: fixed;
    bottom: 0.05rem;
    right: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-right: 1rem;

    gap: 0;
}

.wifisound {
    margin-top: 0.25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.625rem;
    padding: 0.7rem 0.5rem 0.4rem;
    border-radius: 0.25rem;
    margin-bottom: 0.2rem;
}

.datetime {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
}
.notif {
    padding: 0.6rem 0.6rem;
    border-radius: 0.25rem;
}
.tray-container{
    transition: background-color var(--hover-animation) var(--hover-animation-type);
}

.tray-container:hover {
    background-color: var(--border);
    cursor: pointer;
    transition: background-color var(--hover-animation) var(--hover-animation-type);
}

.apps{
    /*flex: 1;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /*gap: 0.25rem;*/
}

.app-item{
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    outline: none;
    cursor: default;

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-right: 0.25rem;
    flex-shrink: 0;
    /*justify-content: center;*/

    padding: 0.5rem;
    border-radius: 0.25rem;
    transition: background-color var(--hover-animation) var(--hover-animation-type);
}
.app-item:hover{
    background-color: var(--border);
    transition: background-color var(--hover-animation) var(--hover-animation-type);
}

.taskbar-app{
    height: 1.5rem;
    width: 1.5rem;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    pointer-events: none;
}

.start-menu {
    bottom: 3.5rem;
    left: calc(50vw - 25rem/2);

    z-index: 10000;

    position: fixed;
    height: 28rem;
    width: 25rem;

    /*min-width: 25rem;*/
    opacity: 0.5;

    /*background-color: var(--gray);*/

    backdrop-filter: blur(2rem) brightness(0.2);
    transition: 0.5s var(--hover-animation-type);

    border-top: 1px solid var(--border);
    border-radius: var(--radius);

    transform: translateY(200%);

    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
}
.start-menu.active {
    transform: translateY(0%);
    opacity: 1;
}

.start-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    height: 2.1rem;
    width: 85%;

    background: var(--background);

    border-radius: 200rem;

    border: 1px solid var(--border);

    /*padding: 0.25rem;*/
}

.start-search-icon {
    margin-left: 0.6rem;
    margin-right: 0.25rem;
}

.start-search-bar{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
}

.taskbar-app-icon {
    height: 1.5rem;
    width: 1.5rem;
    pointer-events: none;
}

.app-item.open.active::before {
    width: 50%;
    background: var(--blue);
}

.app-item.open::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 20%;
    height: 0.25em;
    border-radius: 0.25em;
    background: var(--gray);
    transition: all 0.3s ease;
}

.app-item.focussed {
    background-color: var(--border);
    border-radius: 4px;
}


.app-item.focussed {
    background-color: var(--border);
}

.app-active-underline {
    background-color: var(--border);
    height: 20px;
    width: 50%;
}

@media screen and (max-width: 670px) {
    .tray {
        display: none;
    }
}